{#
/**
 * @file editionguard_book.html.twig
 * Default theme implementation to present EditionGuard book data.
 *
 * This template is used when viewing EditionGuard book pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_editionguard_book()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('editionguard_book') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
